In [1]:
import sys
import pandas as pd
import numpy as np
from xml.dom.minidom import parse, parseString

In [2]:
data = parse("walk1.gpx")

In [3]:
data

In [4]:
parse_result = data.getElementsByTagName("trkpt")

In [5]:
points_df = pd.DataFrame(columns=['lat', 'lon'])

In [6]:
for element in parse_result:
    lat = element.getAttribute('lat')
    lon = element.getAttribute('lon')
    points_df = points_df.append(pd.DataFrame({"lat":[lat], "lon":[lon]}), ignore_index = True)

In [7]:
points_df

             lat            lon
0    49.28015799  -123.00528338
1    49.28022235  -123.00543652
2    49.28023114  -123.00560132
3     49.2803905   -123.0064075
4    49.28021094  -123.00596532
5     49.2803988   -123.0061052
6    49.28016157  -123.00631066
7     49.2803988   -123.0061052
8    49.28019034   -123.0065485
9      49.280222   -123.0066558
10   49.28023262   -123.0068312
11    49.2802709   -123.0066417
12   49.28018856  -123.00703779
13    49.2800858   -123.0074946
14   49.28011427  -123.00744594
15    49.2801264   -123.0077828
16   49.28001997  -123.00782223
17     49.280091   -123.0078929
18   49.28012523  -123.00839512
19    49.2800744   -123.0084975
20   49.28024283  -123.00859831
21    49.2798351    -123.008966
22   49.28013703  -123.00898012
23    49.2802045   -123.0090599
24   49.28016467  -123.00924842
25    49.2804325   -123.0095943
26   49.28016754   -123.0096081
27    49.2801307   -123.0099808
28   49.28015783  -123.00987108
29    49.2801224    -123.010283
..           ...            ...
91    49.2764753  -123.01459695
92    49.2758774   -123.0141002
93   49.27600789  -123.01446926
94    49.2757578   -123.0143344
95   49.27587705  -123.01431428
96    49.2755486   -123.0142945
97   49.27566452  -123.01450148
98    49.2757005   -123.0146507
99   49.27570287   -123.0150862
100   49.2756922   -123.0149529
101  49.27579208  -123.01533677
102   49.2755861   -123.0152832
103  49.27570545  -123.01572783
104   49.2756402   -123.0156675
105    49.275532  -123.01592053
106   49.2758462    -123.016408
107  49.27565575  -123.01619901
108   49.2756694   -123.0169585
109  49.27581166  -123.01666938
110   49.2757016    -123.017549
111  49.27577595  -123.01706821
112   49.2755767   -123.0173849
113  49.27573268  -123.01722618
114   49.2756527    -123.017563
115  49.27576176  -123.01756895
116   49.2755903    -123.017481
117   49.2756522  -123.01786222
118   49.2757776   -123.0177271
119  49.27572142  -123.01833098
120   49.2758587   -123.0183036

[121 rows x 2 columns]

In [8]:
def haversine(lat1, lon1, lat2, lon2):
    a = np.sin((np.deg2rad(lat2-lat1))/2)*np.sin((np.deg2rad(lat2-lat1))/2)
    b = np.cos(np.deg2rad(lat1))*np.cos(np.deg2rad(lat2))
    c = np.sin((np.deg2rad(lon2-lon1))/2)*np.sin((np.deg2rad(lon2-lon1))/2)
    return 12742*np.arcsin(np.sqrt(a+b*c))*1000

In [9]:
points = pd.DataFrame({'lat': [49.28, 49.26, 49.26], 'lon': [123.00, 123.10, 123.05]})

In [10]:
points

     lat     lon
0  49.28  123.00
1  49.26  123.10
2  49.26  123.05

In [11]:
points["lat2"] = points["lat"].shift(1)
points["lon2"] = points["lon"].shift(1)

In [12]:
points

     lat     lon   lat2   lon2
0  49.28  123.00    NaN    NaN
1  49.26  123.10  49.28  123.0
2  49.26  123.05  49.26  123.1

In [13]:
points["distance"] = points.apply(lambda row: haversine(row['lat'], row['lon'], row['lat2'], row['lon2']), axis = 1)

In [14]:
points

     lat     lon   lat2   lon2     distance
0  49.28  123.00    NaN    NaN          NaN
1  49.26  123.10  49.28  123.0  7588.595484
2  49.26  123.05  49.26  123.1  3628.443408

In [15]:
total_distance = points["distance"].sum()

In [16]:
total_distance

11217.038892179959

In [17]:
from pykalman import KalmanFilter

In [18]:
initial_state = points_df.iloc[0]
observation_covariance = np.diag([0.95, 0.95])
transition_covariance = np.diag([0.1, 0.1])
transition = [[1, 0], [0, 1]]

In [19]:
kf = KalmanFilter(
    initial_state_mean=initial_state,
    initial_state_covariance=observation_covariance,
    observation_covariance=observation_covariance,
    transition_covariance=transition_covariance,
    transition_matrices=transition
)

In [20]:
smooth_points = points_df

In [21]:
smooth_points["lat"]= smooth_points["lat"].astype(float)
smooth_points["lon"]= smooth_points["lon"].astype(float)

In [22]:
smooth_points2, _ = kf.smooth(smooth_points)

In [23]:
smooth_points2

array([[  49.28021655, -123.0056586 ],
       [  49.28022887, -123.0057376 ],
       [  49.28024189, -123.00584829],
       [  49.28025603, -123.00598497],
       [  49.28025602, -123.00607718],
       [  49.28026076, -123.00618116],
       [  49.28025097, -123.00629313],
       [  49.28025058, -123.00640326],
       [  49.2802346 , -123.00654477],
       [  49.28022327, -123.00668588],
       [  49.28021208, -123.00683016],
       [  49.28019873, -123.00697433],
       [  49.28017777, -123.00715352],
       [  49.28015569, -123.00734488],
       [  49.28014096, -123.00752049],
       [  49.28012903, -123.00770394],
       [  49.28011739, -123.0078791 ],
       [  49.280116  , -123.00806023],
       [  49.28011724, -123.00825899],
       [  49.28011764, -123.00844341],
       [  49.2801226 , -123.00862214],
       [  49.28011489, -123.00880338],
       [  49.28013664, -123.0089675 ],
       [  49.28015835, -123.00913029],
       [  49.2801752 , -123.00930049],
       [  49.28019316, -123.00947617],
       [  49.28018593, -123.00963942],
       [  49.28018063, -123.00980596],
       [  49.28018058, -123.0099541 ],
       [  49.28018293, -123.01011098],
       [  49.28019166, -123.01024975],
       [  49.28019315, -123.01041079],
       [  49.2801861 , -123.01054777],
       [  49.2801771 , -123.01067913],
       [  49.28015787, -123.01081469],
       [  49.28013591, -123.01091957],
       [  49.28010311, -123.01104236],
       [  49.28006439, -123.01112957],
       [  49.28001562, -123.0112018 ],
       [  49.27995731, -123.0112596 ],
       [  49.27987963, -123.01136814],
       [  49.27978626, -123.01146356],
       [  49.27968254, -123.01150992],
       [  49.27956894, -123.01150905],
       [  49.27944902, -123.0115026 ],
       [  49.27932392, -123.01149784],
       [  49.2792278 , -123.01147276],
       [  49.27913343, -123.01146139],
       [  49.27904712, -123.01145769],
       [  49.27896116, -123.01144766],
       [  49.27885854, -123.01143521],
       [  49.27875331, -123.01142501],
       [  49.2786653 , -123.01142558],
       [  49.27857991, -123.01142665],
       [  49.27852261, -123.01149343],
       [  49.2784718 , -123.01155959],
       [  49.27842599, -123.01169829],
       [  49.27838952, -123.01185327],
       [  49.2783646 , -123.0119916 ],
       [  49.27834626, -123.01214553],
       [  49.2783335 , -123.01230347],
       [  49.27831861, -123.0124696 ],
       [  49.27831756, -123.01263908],
       [  49.27831745, -123.01281909],
       [  49.27832021, -123.01300024],
       [  49.27831033, -123.01316552],
       [  49.27830717, -123.01332502],
       [  49.27830123, -123.01347907],
       [  49.2782902 , -123.01362137],
       [  49.2782723 , -123.01375838],
       [  49.27824056, -123.01387259],
       [  49.27820786, -123.01397846],
       [  49.27815969, -123.01408322],
       [  49.27810152, -123.01416912],
       [  49.27802936, -123.01422872],
       [  49.27794772, -123.01426343],
       [  49.27785949, -123.01427763],
       [  49.27777046, -123.01427714],
       [  49.2776764 , -123.01426913],
       [  49.2776013 , -123.01428572],
       [  49.27750894, -123.01430027],
       [  49.27739535, -123.01429657],
       [  49.27726651, -123.01428944],
       [  49.27718182, -123.01429996],
       [  49.27710021, -123.01430934],
       [  49.27702466, -123.01434436],
       [  49.27694237, -123.01437448],
       [  49.27686441, -123.01439074],
       [  49.2767639 , -123.01440629],
       [  49.27667236, -123.01442565],
       [  49.27653982, -123.01444853],
       [  49.27639175, -123.0144551 ],
       [  49.27623488, -123.01444673],
       [  49.27611564, -123.01447485],
       [  49.27600775, -123.01450355],
       [  49.27592616, -123.01455006],
       [  49.27584974, -123.01462139],
       [  49.27580503, -123.01472713],
       [  49.2757751 , -123.01485662],
       [  49.27575302, -123.01500778],
       [  49.27573623, -123.01515069],
       [  49.27572407, -123.01531442],
       [  49.27570474, -123.0154758 ],
       [  49.27569791, -123.01565745],
       [  49.27569029, -123.01583169],
       [  49.27568793, -123.01602322],
       [  49.27570199, -123.01622555],
       [  49.27570088, -123.01640868],
       [  49.27570451, -123.01661388],
       [  49.27571183, -123.01678281],
       [  49.27570865, -123.01696367],
       [  49.27570621, -123.01708292],
       [  49.27569643, -123.01720372],
       [  49.27569926, -123.01730545],
       [  49.27569856, -123.01741553],
       [  49.27570269, -123.01751008],
       [  49.27570061, -123.01759843],
       [  49.27571013, -123.01769914],
       [  49.27572576, -123.01778269],
       [  49.27573592, -123.01787209],
       [  49.27574762, -123.01791319]])

In [24]:
smooth_df = pd.DataFrame(smooth_points2)

In [25]:
smooth_df = smooth_df.rename(columns={0: "lat", 1: "lon"})

In [26]:
smooth_df

           lat         lon
0    49.280217 -123.005659
1    49.280229 -123.005738
2    49.280242 -123.005848
3    49.280256 -123.005985
4    49.280256 -123.006077
5    49.280261 -123.006181
6    49.280251 -123.006293
7    49.280251 -123.006403
8    49.280235 -123.006545
9    49.280223 -123.006686
10   49.280212 -123.006830
11   49.280199 -123.006974
12   49.280178 -123.007154
13   49.280156 -123.007345
14   49.280141 -123.007520
15   49.280129 -123.007704
16   49.280117 -123.007879
17   49.280116 -123.008060
18   49.280117 -123.008259
19   49.280118 -123.008443
20   49.280123 -123.008622
21   49.280115 -123.008803
22   49.280137 -123.008967
23   49.280158 -123.009130
24   49.280175 -123.009300
25   49.280193 -123.009476
26   49.280186 -123.009639
27   49.280181 -123.009806
28   49.280181 -123.009954
29   49.280183 -123.010111
..         ...         ...
91   49.276392 -123.014455
92   49.276235 -123.014447
93   49.276116 -123.014475
94   49.276008 -123.014504
95   49.275926 -123.014550
96   49.275850 -123.014621
97   49.275805 -123.014727
98   49.275775 -123.014857
99   49.275753 -123.015008
100  49.275736 -123.015151
101  49.275724 -123.015314
102  49.275705 -123.015476
103  49.275698 -123.015657
104  49.275690 -123.015832
105  49.275688 -123.016023
106  49.275702 -123.016226
107  49.275701 -123.016409
108  49.275705 -123.016614
109  49.275712 -123.016783
110  49.275709 -123.016964
111  49.275706 -123.017083
112  49.275696 -123.017204
113  49.275699 -123.017305
114  49.275699 -123.017416
115  49.275703 -123.017510
116  49.275701 -123.017598
117  49.275710 -123.017699
118  49.275726 -123.017783
119  49.275736 -123.017872
120  49.275748 -123.017913

[121 rows x 2 columns]