In [1]:
import pandas as pd
import numpy as np
import sys
import datetime
import scipy.stats as stats
import matplotlib as plt

In [2]:
counts = pd.read_json('reddit-counts.json.gz', lines=True)

In [3]:
counts = counts[counts['date'] >= datetime.date(2012, 1, 1)]
counts = counts[counts['date'] <= datetime.date(2013, 12, 31)]
counts = counts[counts['subreddit'] == 'canada']

/home/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  """Entry point for launching an IPython kernel.
/home/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.

In [4]:
counts

       comment_count       date subreddit
66              1657 2013-03-14    canada
69              1369 2013-07-08    canada
97              1343 2012-07-04    canada
115             1619 2013-03-11    canada
165             1909 2013-09-11    canada
179             1196 2012-02-04    canada
181             2112 2012-08-08    canada
182             1929 2012-08-09    canada
193             2086 2012-01-17    canada
251             1570 2012-11-17    canada
263             2113 2013-08-20    canada
265             1500 2012-01-23    canada
294             1853 2012-02-27    canada
302             1826 2012-08-07    canada
314             1622 2013-03-25    canada
344             1822 2012-07-18    canada
360             1681 2013-05-03    canada
401              908 2013-07-14    canada
433             2598 2013-07-30    canada
455             1705 2012-08-24    canada
473             1848 2012-02-01    canada
479              984 2013-06-22    canada
495             1199 2012-07-29    canada
536             1028 2013-09-21    canada
571             1664 2012-10-31    canada
591             1572 2013-07-22    canada
607             2012 2012-06-22    canada
636             1156 2013-01-05    canada
652             1427 2013-06-06    canada
654             1672 2013-01-02    canada
...              ...        ...       ...
14815           1046 2012-12-25    canada
14834           2154 2012-10-11    canada
14852           1876 2013-05-01    canada
14869           1472 2012-07-28    canada
14877           1804 2013-10-30    canada
14894           1299 2013-11-10    canada
14949           1904 2012-11-29    canada
14979           1087 2013-10-12    canada
15008           1296 2013-06-26    canada
15040           1340 2012-12-01    canada
15047           1932 2013-01-16    canada
15084            939 2012-12-30    canada
15131           1454 2013-09-23    canada
15151           1517 2012-06-18    canada
15174            916 2013-12-29    canada
15176           1449 2012-04-15    canada
15219           1772 2012-11-04    canada
15252           1818 2013-04-12    canada
15258           2588 2013-11-28    canada
15264           1533 2012-11-21    canada
15273           1350 2012-12-09    canada
15308           1725 2012-12-02    canada
15330           1916 2013-05-08    canada
15357           2021 2013-04-10    canada
15363           1630 2013-03-19    canada
15389           2113 2013-01-01    canada
15413           1070 2013-07-27    canada
15430           1486 2012-10-19    canada
15456           1256 2012-01-15    canada
15469           1127 2012-01-02    canada

[731 rows x 3 columns]

In [5]:
#weekdays = counts[(counts['date'].map(lambda date: datetime.date.weekday(date)) != 5) & (counts['date'].map(lambda date: datetime.date.weekday(date)) != 6)]

In [6]:
#weekdays

In [7]:
weekdays = counts[(counts['date'].apply(datetime.date.weekday) != 5) & (counts['date'].apply(datetime.date.weekday) != 6)]

In [50]:
weekdays['comment_count'].mean()

1823.5785440613026

In [9]:
weekends = counts[(counts['date'].apply(datetime.date.weekday) == 5) | (counts['date'].apply(datetime.date.weekday) == 6)]

In [49]:
weekends['comment_count'].mean()

1269.5071770334928

In [11]:
stats.ttest_ind(weekends['comment_count'], weekdays['comment_count'])

Ttest_indResult(statistic=-17.70431974179247, pvalue=1.3005502847207912e-58)

In [12]:
stats.normaltest(weekends['comment_count'])

NormaltestResult(statistic=12.976880141083813, pvalue=0.0015209196859635404)

In [13]:
stats.normaltest(weekdays['comment_count'])

NormaltestResult(statistic=32.21804641032879, pvalue=1.0091137251707994e-07)

In [14]:
stats.levene(weekends['comment_count'], weekdays['comment_count'])

LeveneResult(statistic=4.07889686696194, pvalue=0.04378740989202803)

In [15]:
weekends_log = weekends['comment_count'].apply(np.log)
weekdays_log = weekdays['comment_count'].apply(np.log)

In [16]:
#weekends_log

In [17]:
stats.normaltest(weekends_log)

NormaltestResult(statistic=2.310753456351079, pvalue=0.31493886820667)

In [18]:
stats.normaltest(weekdays_log)

NormaltestResult(statistic=15.640150708373614, pvalue=0.00040159142006827235)

In [19]:
stats.levene(weekends_log, weekdays_log)

LeveneResult(statistic=12.560671586444855, pvalue=0.0004190759393372205)

In [20]:
weekends_exp = weekends['comment_count'].apply(np.exp)
weekdays_exp = weekdays['comment_count'].apply(np.exp)

In [21]:
stats.normaltest(weekends_exp)

/home/david/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:984: RuntimeWarning: invalid value encountered in subtract
  a_zero_mean = a - np.expand_dims(np.mean(a, axis), axis)

NormaltestResult(statistic=nan, pvalue=nan)

In [22]:
stats.normaltest(weekends_exp)

NormaltestResult(statistic=nan, pvalue=nan)

In [23]:
stats.levene(weekends_exp, weekdays_exp)

/home/david/anaconda3/lib/python3.7/site-packages/scipy/stats/morestats.py:2333: RuntimeWarning: invalid value encountered in subtract
  Zij[i] = abs(asarray(args[i]) - Yci[i])

LeveneResult(statistic=nan, pvalue=nan)

In [24]:
weekends_sqrt = weekends['comment_count'].apply(np.sqrt)
weekdays_sqrt = weekdays['comment_count'].apply(np.sqrt)

In [25]:
stats.normaltest(weekends_sqrt)

NormaltestResult(statistic=4.458564637984015, pvalue=0.10760562894666933)

In [26]:
stats.normaltest(weekdays_sqrt)

NormaltestResult(statistic=6.600593923705198, pvalue=0.03687221613365365)

In [27]:
stats.levene(weekends_sqrt, weekdays_sqrt)

LeveneResult(statistic=0.34690221366480645, pvalue=0.5560544297516696)

In [28]:
weekends_sq2 = weekends['comment_count']**2
weekdays_sq2 = weekdays['comment_count']**2

In [29]:
stats.normaltest(weekends_sq2)

NormaltestResult(statistic=48.46552571941154, pvalue=2.991195568683962e-11)

In [30]:
stats.normaltest(weekdays_sq2)

NormaltestResult(statistic=131.50515994471635, pvalue=2.7798243005635955e-29)

In [31]:
stats.levene(weekends_sq2, weekdays_sq2)

LeveneResult(statistic=29.56281874435813, pvalue=7.391434727467261e-08)

In [32]:
weekdays_isodate = weekdays['date'].apply(datetime.date.isocalendar).apply(pd.Series)

In [33]:
del weekdays_isodate[2]

In [34]:
weekdays_isodate.columns = ['year','week']

In [35]:
weekdays_group = pd.concat([weekdays, weekdays_isodate], axis = 1)

In [36]:
weekdays_group = weekdays_group.groupby(['year','week']).agg('mean')

In [37]:
weekends_isodate = weekends['date'].apply(datetime.date.isocalendar).apply(pd.Series)

In [38]:
del weekends_isodate[2]

In [39]:
weekends_isodate.columns = ['year','week']

In [40]:
weekends_group = pd.concat([weekends, weekends_isodate], axis = 1)

In [41]:
weekends_group = weekends_group.groupby(['year','week']).agg('mean')

In [42]:
weekends_isodate

       year  week
179    2012     5
251    2012    46
401    2013    28
479    2013    25
495    2012    30
536    2013    38
636    2013     1
880    2013     2
894    2013    36
937    2012    19
943    2013    35
1033   2012    37
1070   2013    50
1123   2013    27
1141   2012    39
1768   2013    24
2006   2013    12
2015   2013     7
2023   2012     7
2038   2012    50
2116   2012    45
2169   2013    32
2190   2013    22
2191   2012    27
2283   2012    34
2298   2013    34
2311   2012    45
2314   2012    49
2406   2012    47
2589   2012     3
...     ...   ...
13320  2013     8
13578  2012     7
13599  2013    13
13696  2012    12
13757  2012    32
13810  2013    33
13835  2013     5
13930  2013     9
14089  2013    43
14091  2012    35
14156  2013     3
14190  2013     8
14277  2013    20
14342  2013    23
14344  2013    31
14410  2013    42
14700  2013    16
14744  2013    45
14869  2012    30
14894  2013    45
14979  2013    41
15040  2012    48
15084  2012    52
15174  2013    52
15176  2012    15
15219  2012    44
15273  2012    49
15308  2012    48
15413  2013    30
15456  2012     2

[209 rows x 2 columns]

In [43]:
weekends_group

           comment_count
year week
2011 52            995.0
2012 1            1163.0
     2            1372.0
     3             915.5
     4            1285.0
     5            1228.0
     6             980.5
     7            1273.5
     8            1336.5
     9            1021.0
     10           1353.0
     11           1282.0
     12           1759.0
     13           1481.0
     14           1368.5
     15           1423.5
     16           1586.0
     17           1623.5
     18           1051.5
     19           1275.5
     20           1196.5
     21           1311.0
     22           1728.5
     23           1725.0
     24           1109.0
     25           1222.0
     26           1173.0
     27            982.0
     28           1272.0
     29           1761.5
...                  ...
2013 23            933.0
     24            882.0
     25            895.0
     26            844.0
     27            965.0
     28           1018.5
     29            761.0
     30           1071.5
     31           1403.0
     32           1759.5
     33           1335.0
     34           1229.0
     35           1349.0
     36           1508.0
     37           1286.0
     38           1055.5
     39           1238.5
     40           1096.5
     41           1108.0
     42           1986.5
     43           1349.0
     44           1371.5
     45           1318.5
     46           1368.5
     47           1363.0
     48           1553.0
     49           1412.5
     50           1547.0
     51           1173.5
     52           1117.5

[105 rows x 1 columns]

In [44]:
stats.normaltest(weekdays_group['comment_count'])

NormaltestResult(statistic=2.35359913339607, pvalue=0.3082637390825463)

In [45]:
stats.normaltest(weekends_group['comment_count'])

NormaltestResult(statistic=3.7552982609164878, pvalue=0.15294924717078442)

In [46]:
stats.levene(weekdays_group['comment_count'], weekends_group['comment_count'])

LeveneResult(statistic=1.6248579510098702, pvalue=0.20383788083573426)

In [47]:
stats.ttest_ind(weekends_group['comment_count'], weekdays_group['comment_count'])

Ttest_indResult(statistic=-14.885763186916106, pvalue=1.3353656052303144e-34)

In [48]:
stats.mannwhitneyu(weekends['comment_count'],weekdays['comment_count'])

MannwhitneyuResult(statistic=15099.0, pvalue=4.3122266173669665e-53)